In [8]:
pip install pandas numpy matplotlib --quiet

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Requirements

In [ ]:
import pandas as pd
import numpy as np
from datetime import date

# Kaggle Dataset: Rossmann Store Sales

## Data View
* Because train.csv only has one more column, **Sales**, than test.csv, we don’t display the basic information here.
* The columns in store.csv has null values
    * CompetitionDistance: **3** missing values (<1%)
    * CompetitionOpenSinceMonth: **352** missing values (32%)
    * CompetitionOpenSinceYear: **352** missing values (32%)
    * Promo2SinceWeek: **544** missing values (49%)
    * Promo2SinceYear: **544** missing values (49%)
    * PromoInterval: **544** missing values (49%)

In [11]:
train_data = pd.read_csv('train.csv')
train_data.info()
train_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

/var/folders/tt/z3bdk7l93mz89yt97b5hb15h0000gn/T/ipykernel_35729/1015761541.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv('train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [12]:
store_data = pd.read_csv('store.csv')
store_data.info()
store_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [13]:
sample_submission_data = pd.read_csv('sample_submission.csv')
sample_submission_data.info()
sample_submission_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      41088 non-null  int64
 1   Sales   41088 non-null  int64
dtypes: int64(2)
memory usage: 642.1 KB

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

## Data Cleaning

* Row data (name) for data cleaning 
    * train_data
    * store_data
    * sample_submission_data

### Train Data
* Double check all the unique value in each column in train data
    * Issue: Unique Values in StateHoliday are **['0' 'a' 'b' 'c' 0]**, so we need to transfer 0 into '0'

In [ ]:
train_data.info()
train_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [31]:
## print all the unique values in each column in train_data
for col in train_data.columns:
    print(f"Unique values in Column '{col}': {train_data[col].unique()}")

Unique values in Column 'Store': [   1    2    3 ... 1113 1114 1115]
Unique values in Column 'DayOfWeek': [5 4 3 2 1 7 6]
Unique values in Column 'Date': ['2015-07-31' '2015-07-30' '2015-07-29' '2015-07-28' '2015-07-27'
 '2015-07-26' '2015-07-25' '2015-07-24' '2015-07-23' '2015-07-22'
 '2015-07-21' '2015-07-20' '2015-07-19' '2015-07-18' '2015-07-17'
 '2015-07-16' '2015-07-15' '2015-07-14' '2015-07-13' '2015-07-12'
 '2015-07-11' '2015-07-10' '2015-07-09' '2015-07-08' '2015-07-07'
 '2015-07-06' '2015-07-05' '2015-07-04' '2015-07-03' '2015-07-02'
 '2015-07-01' '2015-06-30' '2015-06-29' '2015-06-28' '2015-06-27'
 '2015-06-26' '2015-06-25' '2015-06-24' '2015-06-23' '2015-06-22'
 '2015-06-21' '2015-06-20' '2015-06-19' '2015-06-18' '2015-06-17'
 '2015-06-16' '2015-06-15' '2015-06-14' '2015-06-13' '2015-06-12'
 '2015-06-11' '2015-06-10' '2015-06-09' '2015-06-08' '2015-06-07'
 '2015-06-06' '2015-06-05' '2015-06-04' '2015-06-03' '2015-06-02'
 '2015-06-01' '2015-05-31' '2015-05-30' '2015-05-29' '2015-05-28'
 '2015-05-27' '2015-05-26' '2015-05-25' '2015-05-24' '2015-05-23'
 '2015-05-22' '2015-05-21' '2015-05-20' '2015-05-19' '2015-05-18'
 '2015-05-17' '2015-05-16' '2015-05-15' '2015-05-14' '2015-05-13'
 '2015-05-12' '2015-05-11' '2015-05-10' '2015-05-09' '2015-05-08'
 '2015-05-07' '2015-05-06' '2015-05-05' '2015-05-04' '2015-05-03'
 '2015-05-02' '2015-05-01' '2015-04-30' '2015-04-29' '2015-04-28'
 '2015-04-27' '2015-04-26' '2015-04-25' '2015-04-24' '2015-04-23'
 '2015-04-22' '2015-04-21' '2015-04-20' '2015-04-19' '2015-04-18'
 '2015-04-17' '2015-04-16' '2015-04-15' '2015-04-14' '2015-04-13'
 '2015-04-12' '2015-04-11' '2015-04-10' '2015-04-09' '2015-04-08'
 '2015-04-07' '2015-04-06' '2015-04-05' '2015-04-04' '2015-04-03'
 '2015-04-02' '2015-04-01' '2015-03-31' '2015-03-30' '2015-03-29'
 '2015-03-28' '2015-03-27' '2015-03-26' '2015-03-25' '2015-03-24'
 '2015-03-23' '2015-03-22' '2015-03-21' '2015-03-20' '2015-03-19'
 '2015-03-18' '2015-03-17' '2015-03-16' '2015-03-15' '2015-03-14'
 '2015-03-13' '2015-03-12' '2015-03-11' '2015-03-10' '2015-03-09'
 '2015-03-08' '2015-03-07' '2015-03-06' '2015-03-05' '2015-03-04'
 '2015-03-03' '2015-03-02' '2015-03-01' '2015-02-28' '2015-02-27'
 '2015-02-26' '2015-02-25' '2015-02-24' '2015-02-23' '2015-02-22'
 '2015-02-21' '2015-02-20' '2015-02-19' '2015-02-18' '2015-02-17'
 '2015-02-16' '2015-02-15' '2015-02-14' '2015-02-13' '2015-02-12'
 '2015-02-11' '2015-02-10' '2015-02-09' '2015-02-08' '2015-02-07'
 '2015-02-06' '2015-02-05' '2015-02-04' '2015-02-03' '2015-02-02'
 '2015-02-01' '2015-01-31' '2015-01-30' '2015-01-29' '2015-01-28'
 '2015-01-27' '2015-01-26' '2015-01-25' '2015-01-24' '2015-01-23'
 '2015-01-22' '2015-01-21' '2015-01-20' '2015-01-19' '2015-01-18'
 '2015-01-17' '2015-01-16' '2015-01-15' '2015-01-14' '2015-01-13'
 '2015-01-12' '2015-01-11' '2015-01-10' '2015-01-09' '2015-01-08'
 '2015-01-07' '2015-01-06' '2015-01-05' '2015-01-04' '2015-01-03'
 '2015-01-02' '2015-01-01' '2014-12-31' '2014-12-30' '2014-12-29'
 '2014-12-28' '2014-12-27' '2014-12-26' '2014-12-25' '2014-12-24'
 '2014-12-23' '2014-12-22' '2014-12-21' '2014-12-20' '2014-12-19'
 '2014-12-18' '2014-12-17' '2014-12-16' '2014-12-15' '2014-12-14'
 '2014-12-13' '2014-12-12' '2014-12-11' '2014-12-10' '2014-12-09'
 '2014-12-08' '2014-12-07' '2014-12-06' '2014-12-05' '2014-12-04'
 '2014-12-03' '2014-12-02' '2014-12-01' '2014-11-30' '2014-11-29'
 '2014-11-28' '2014-11-27' '2014-11-26' '2014-11-25' '2014-11-24'
 '2014-11-23' '2014-11-22' '2014-11-21' '2014-11-20' '2014-11-19'
 '2014-11-18' '2014-11-17' '2014-11-16' '2014-11-15' '2014-11-14'
 '2014-11-13' '2014-11-12' '2014-11-11' '2014-11-10' '2014-11-09'
 '2014-11-08' '2014-11-07' '2014-11-06' '2014-11-05' '2014-11-04'
 '2014-11-03' '2014-11-02' '2014-11-01' '2014-10-31' '2014-10-30'
 '2014-10-29' '2014-10-28' '2014-10-27' '2014-10-26' '2014-10-25'
 '2014-10-24' '2014-10-23' '2014-10-22' '2014-10-21' '2014-10-20'
 '2014-10-19' '2014-10-18' '2014-10-17' '2014-10-16' '2014-10-15'
 '2014-10-14' '2014-10-13' '2014-10-12' '2014-10-11' '2014-10-10'
 '2014-10-09' '2014-10-08' '2014-10-07' '2014-10-06' '2014-10-05'
 '2014-10-04' '2014-10-03' '2014-10-02' '2014-10-01' '2014-09-30'
 '2014-09-29' '2014-09-28' '2014-09-27' '2014-09-26' '2014-09-25'
 '2014-09-24' '2014-09-23' '2014-09-22' '2014-09-21' '2014-09-20'
 '2014-09-19' '2014-09-18' '2014-09-17' '2014-09-16' '2014-09-15'
 '2014-09-14' '2014-09-13' '2014-09-12' '2014-09-11' '2014-09-10'
 '2014-09-09' '2014-09-08' '2014-09-07' '2014-09-06' '2014-09-05'
 '2014-09-04' '2014-09-03' '2014-09-02' '2014-09-01' '2014-08-31'
 '2014-08-30' '2014-08-29' '2014-08-28' '2014-08-27' '2014-08-26'
 '2014-08-25' '2014-08-24' '2014-08-23' '2014-08-22' '2014-08-21'
 '2014-08-20' '2014-08-19' '2014-08-18' '2014-08-17' '2014-08-16'
 '2014-08-15' '2014-08-14' '2014-08-13' '2014-08-12' '2014-08-11'
 '2014-08-10' '2014-08-09' '2014-08-08' '2014-08-07' '2014-08-06'
 '2014-08-05' '2014-08-04' '2014-08-03' '2014-08-02' '2014-08-01'
 '2014-07-31' '2014-07-30' '2014-07-29' '2014-07-28' '2014-07-27'
 '2014-07-26' '2014-07-25' '2014-07-24' '2014-07-23' '2014-07-22'
 '2014-07-21' '2014-07-20' '2014-07-19' '2014-07-18' '2014-07-17'
 '2014-07-16' '2014-07-15' '2014-07-14' '2014-07-13' '2014-07-12'
 '2014-07-11' '2014-07-10' '2014-07-09' '2014-07-08' '2014-07-07'
 '2014-07-06' '2014-07-05' '2014-07-04' '2014-07-03' '2014-07-02'
 '2014-07-01' '2014-06-30' '2014-06-29' '2014-06-28' '2014-06-27'
 '2014-06-26' '2014-06-25' '2014-06-24' '2014-06-23' '2014-06-22'
 '2014-06-21' '2014-06-20' '2014-06-19' '2014-06-18' '2014-06-17'
 '2014-06-16' '2014-06-15' '2014-06-14' '2014-06-13' '2014-06-12'
 '2014-06-11' '2014-06-10' '2014-06-09' '2014-06-08' '2014-06-07'
 '2014-06-06' '2014-06-05' '2014-06-04' '2014-06-03' '2014-06-02'
 '2014-06-01' '2014-05-31' '2014-05-30' '2014-05-29' '2014-05-28'
 '2014-05-27' '2014-05-26' '2014-05-25' '2014-05-24' '2014-05-23'
 '2014-05-22' '2014-05-21' '2014-05-20' '2014-05-19' '2014-05-18'
 '2014-05-17' '2014-05-16' '2014-05-15' '2014-05-14' '2014-05-13'
 '2014-05-12' '2014-05-11' '2014-05-10' '2014-05-09' '2014-05-08'
 '2014-05-07' '2014-05-06' '2014-05-05' '2014-05-04' '2014-05-03'
 '2014-05-02' '2014-05-01' '2014-04-30' '2014-04-29' '2014-04-28'
 '2014-04-27' '2014-04-26' '2014-04-25' '2014-04-24' '2014-04-23'
 '2014-04-22' '2014-04-21' '2014-04-20' '2014-04-19' '2014-04-18'
 '2014-04-17' '2014-04-16' '2014-04-15' '2014-04-14' '2014-04-13'
 '2014-04-12' '2014-04-11' '2014-04-10' '2014-04-09' '2014-04-08'
 '2014-04-07' '2014-04-06' '2014-04-05' '2014-04-04' '2014-04-03'
 '2014-04-02' '2014-04-01' '2014-03-31' '2014-03-30' '2014-03-29'
 '2014-03-28' '2014-03-27' '2014-03-26' '2014-03-25' '2014-03-24'
 '2014-03-23' '2014-03-22' '2014-03-21' '2014-03-20' '2014-03-19'
 '2014-03-18' '2014-03-17' '2014-03-16' '2014-03-15' '2014-03-14'
 '2014-03-13' '2014-03-12' '2014-03-11' '2014-03-10' '2014-03-09'
 '2014-03-08' '2014-03-07' '2014-03-06' '2014-03-05' '2014-03-04'
 '2014-03-03' '2014-03-02' '2014-03-01' '2014-02-28' '2014-02-27'
 '2014-02-26' '2014-02-25' '2014-02-24' '2014-02-23' '2014-02-22'
 '2014-02-21' '2014-02-20' '2014-02-19' '2014-02-18' '2014-02-17'
 '2014-02-16' '2014-02-15' '2014-02-14' '2014-02-13' '2014-02-12'
 '2014-02-11' '2014-02-10' '2014-02-09' '2014-02-08' '2014-02-07'
 '2014-02-06' '2014-02-05' '2014-02-04' '2014-02-03' '2014-02-02'
 '2014-02-01' '2014-01-31' '2014-01-30' '2014-01-29' '2014-01-28'
 '2014-01-27' '2014-01-26' '2014-01-25' '2014-01-24' '2014-01-23'
 '2014-01-22' '2014-01-21' '2014-01-20' '2014-01-19' '2014-01-18'
 '2014-01-17' '2014-01-16' '2014-01-15' '2014-01-14' '2014-01-13'
 '2014-01-12' '2014-01-11' '2014-01-10' '2014-01-09' '2014-01-08'
 '2014-01-07' '2014-01-06' '2014-01-05' '2014-01-04' '2014-01-03'
 '2014-01-02' '2014-01-01' '2013-12-31' '2013-12-30' '2013-12-29'
 '2013-12-28' '2013-12-27' '2013-12-26' '2013-12-25' '2013-12-24'
 '2013-12-23' '2013-12-22' '2013-12-21' '2013-12-20' '2013-12-19'
 '2013-12-18' '2013-12-17' '2013-12-16' '2013-12-15' '2013-12-14'
 '2013-12-13' '2013-12-12' '2013-12-11' '2013-12-10' '2013-12-09'
 '2013-12-08' '2013-12-07' '2013-12-06' '2013-12-05' '2013-12-04'
 '2013-12-03' '2013-12-02' '2013-12-01' '2013-11-30' '2013-11-29'
 '2013-11-28' '2013-11-27' '2013-11-26' '2013-11-25' '2013-11-24'
 '2013-11-23' '2013-11-22' '2013-11-21' '2013-11-20' '2013-11-19'
 '2013-11-18' '2013-11-17' '2013-11-16' '2013-11-15' '2013-11-14'
 '2013-11-13' '2013-11-12' '2013-11-11' '2013-11-10' '2013-11-09'
 '2013-11-08' '2013-11-07' '2013-11-06' '2013-11-05' '2013-11-04'
 '2013-11-03' '2013-11-02' '2013-11-01' '2013-10-31' '2013-10-30'
 '2013-10-29' '2013-10-28' '2013-10-27' '2013-10-26' '2013-10-25'
 '2013-10-24' '2013-10-23' '2013-10-22' '2013-10-21' '2013-10-20'
 '2013-10-19' '2013-10-18' '2013-10-17' '2013-10-16' '2013-10-15'
 '2013-10-14' '2013-10-13' '2013-10-12' '2013-10-11' '2013-10-10'
 '2013-10-09' '2013-10-08' '2013-10-07' '2013-10-06' '2013-10-05'
 '2013-10-04' '2013-10-03' '2013-10-02' '2013-10-01' '2013-09-30'
 '2013-09-29' '2013-09-28' '2013-09-27' '2013-09-26' '2013-09-25'
 '2013-09-24' '2013-09-23' '2013-09-22' '2013-09-21' '2013-09-20'
 '2013-09-19' '2013-09-18' '2013-09-17' '2013-09-16' '2013-09-15'
 '2013-09-14' '2013-09-13' '2013-09-12' '2013-09-11' '2013-09-10'
 '2013-09-09' '2013-09-08' '2013-09-07' '2013-09-06' '2013-09-05'
 '2013-09-04' '2013-09-03' '2013-09-02' '2013-09-01' '2013-08-31'
 '2013-08-30' '2013-08-29' '2013-08-28' '2013-08-27' '2013-08-26'
 '2013-08-25' '2013-08-24' '2013-08-23' '2013-08-22' '2013-08-21'
 '2013-08-20' '2013-08-19' '2013-08-18' '2013-08-17' '2013-08-16'
 '2013-08-15' '2013-08-14' '2013-08-13' '2013-08-12' '2013-08-11'
 '2013-08-10' '2013-08-09' '2013-08-08' '2013-08-07' '2013-08-06'
 '2013-08-05' '2013-08-04' '2013-08-03' '2013-08-02' '2013-08-01'
 '2013-07-31' '2013-07-30' '2013-07-29' '2013-07-28' '2013-07-27'
 '2013-07-26' '2013-07-25' '2013-07-24' '2013-07-23' '2013-07-22'
 '2013-07-21' '2013-07-20' '2013-07-19' '2013-07-18' '2013-07-17'
 '2013-07-16' '2013-07-15' '2013-07-14' '2013-07-13' '2013-07-12'
 '2013-07-11' '2013-07-10' '2013-07-09' '2013-07-08' '2013-07-07'
 '2013-07-06' '2013-07-05' '2013-07-04' '2013-07-03' '2013-07-02'
 '2013-07-01' '2013-06-30' '2013-06-29' '2013-06-28' '2013-06-27'
 '2013-06-26' '2013-06-25' '2013-06-24' '2013-06-23' '2013-06-22'
 '2013-06-21' '2013-06-20' '2013-06-19' '2013-06-18' '2013-06-17'
 '2013-06-16' '2013-06-15' '2013-06-14' '2013-06-13' '2013-06-12'
 '2013-06-11' '2013-06-10' '2013-06-09' '2013-06-08' '2013-06-07'
 '2013-06-06' '2013-06-05' '2013-06-04' '2013-06-03' '2013-06-02'
 '2013-06-01' '2013-05-31' '2013-05-30' '2013-05-29' '2013-05-28'
 '2013-05-27' '2013-05-26' '2013-05-25' '2013-05-24' '2013-05-23'
 '2013-05-22' '2013-05-21' '2013-05-20' '2013-05-19' '2013-05-18'
 '2013-05-17' '2013-05-16' '2013-05-15' '2013-05-14' '2013-05-13'
 '2013-05-12' '2013-05-11' '2013-05-10' '2013-05-09' '2013-05-08'
 '2013-05-07' '2013-05-06' '2013-05-05' '2013-05-04' '2013-05-03'
 '2013-05-02' '2013-05-01' '2013-04-30' '2013-04-29' '2013-04-28'
 '2013-04-27' '2013-04-26' '2013-04-25' '2013-04-24' '2013-04-23'
 '2013-04-22' '2013-04-21' '2013-04-20' '2013-04-19' '2013-04-18'
 '2013-04-17' '2013-04-16' '2013-04-15' '2013-04-14' '2013-04-13'
 '2013-04-12' '2013-04-11' '2013-04-10' '2013-04-09' '2013-04-08'
 '2013-04-07' '2013-04-06' '2013-04-05' '2013-04-04' '2013-04-03'
 '2013-04-02' '2013-04-01' '2013-03-31' '2013-03-30' '2013-03-29'
 '2013-03-28' '2013-03-27' '2013-03-26' '2013-03-25' '2013-03-24'
 '2013-03-23' '2013-03-22' '2013-03-21' '2013-03-20' '2013-03-19'
 '2013-03-18' '2013-03-17' '2013-03-16' '2013-03-15' '2013-03-14'
 '2013-03-13' '2013-03-12' '2013-03-11' '2013-03-10' '2013-03-09'
 '2013-03-08' '2013-03-07' '2013-03-06' '2013-03-05' '2013-03-04'
 '2013-03-03' '2013-03-02' '2013-03-01' '2013-02-28' '2013-02-27'
 '2013-02-26' '2013-02-25' '2013-02-24' '2013-02-23' '2013-02-22'
 '2013-02-21' '2013-02-20' '2013-02-19' '2013-02-18' '2013-02-17'
 '2013-02-16' '2013-02-15' '2013-02-14' '2013-02-13' '2013-02-12'
 '2013-02-11' '2013-02-10' '2013-02-09' '2013-02-08' '2013-02-07'
 '2013-02-06' '2013-02-05' '2013-02-04' '2013-02-03' '2013-02-02'
 '2013-02-01' '2013-01-31' '2013-01-30' '2013-01-29' '2013-01-28'
 '2013-01-27' '2013-01-26' '2013-01-25' '2013-01-24' '2013-01-23'
 '2013-01-22' '2013-01-21' '2013-01-20' '2013-01-19' '2013-01-18'
 '2013-01-17' '2013-01-16' '2013-01-15' '2013-01-14' '2013-01-13'
 '2013-01-12' '2013-01-11' '2013-01-10' '2013-01-09' '2013-01-08'
 '2013-01-07' '2013-01-06' '2013-01-05' '2013-01-04' '2013-01-03'
 '2013-01-02' '2013-01-01']
Unique values in Column 'Sales': [ 5263  6064  8314 ...   660 17815 23303]
Unique values in Column 'Customers': [ 555  625  821 ... 3900   36 4065]
Unique values in Column 'Open': [1 0]
Unique values in Column 'Promo': [1 0]
Unique values in Column 'StateHoliday': ['0' 'a' 'b' 'c' 0]
Unique values in Column 'SchoolHoliday': [1 0]

In [26]:
cleaned_train_data = train_data.copy()

# transfer data type
cleaned_train_data['Date'] = pd.to_datetime(cleaned_train_data['Date'])

# transfer 0 into '0' in StateHoliday
cleaned_train_data['StateHoliday'] = cleaned_train_data['StateHoliday'].replace(0, '0')
# transfer StateHoliday to categorical type
cleaned_train_data['StateHoliday'] = cleaned_train_data['StateHoliday'].astype('category')
print(cleaned_train_data['StateHoliday'].unique())

['0', 'a', 'b', 'c']
Categories (4, object): ['0', 'a', 'b', 'c']

In [32]:
cleaned_train_data.info()
cleaned_train_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  category
 8   SchoolHoliday  1017209 non-null  int64
dtypes: category(1), datetime64[ns](1), int64(7)
memory usage: 63.1 MB

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

### Store Data
* Double check all the unique value in each column in store data
    * Issue: Unique Values in PromoInterval are **[nan 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']**, which is not easy to read, so it transfer to:
        * nan to 0
        * 'Jan,Apr,Jul,Oct' to 1
        * 'Feb,May,Aug,Nov' to 2 
        * 'Mar,Jun,Sept,Dec' to 3

* Issue: Too many null values in the store data
    * ❌ Solve 1: If it use **dropna** function, it will only keep 365 rows(stores) which means only **32.74% rows remain after dropna**.
    * Solve 2: transfer the values separately
        * use four columns (Promo2 / Promo2SinceWeek / Promo2SinceYear / PromoInterval) to feature new column **Promo2Rounds** which means how many **times** have the stores run the promotion until the end of year 2015.
            * use the end of 2015 as the anchor due to some stores in the dataset were temporarily closed for refurbishment.

In [33]:
store_data.info()
store_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [61]:
## print all the unique values in each column in store_data
for col in store_data.columns:
    print(f"Unique values in Column '{col}': {store_data[col].unique()}")

Unique values in Column 'Store': [   1    2    3 ... 1113 1114 1115]
Unique values in Column 'StoreType': ['c' 'a' 'd' 'b']
Unique values in Column 'Assortment': ['a' 'c' 'b']
Unique values in Column 'CompetitionDistance': [1.270e+03 5.700e+02 1.413e+04 6.200e+02 2.991e+04 3.100e+02 2.400e+04
 7.520e+03 2.030e+03 3.160e+03 9.600e+02 1.070e+03 1.300e+03 4.110e+03
 3.270e+03 5.000e+01 1.384e+04 3.240e+03 2.340e+03 5.500e+02 1.040e+03
 4.060e+03 4.590e+03 4.300e+02 2.300e+03 6.000e+01 1.200e+03 2.170e+03
 4.000e+01 9.800e+03 2.910e+03 1.320e+03 2.240e+03 7.660e+03 5.400e+02
 4.230e+03 1.090e+03 2.600e+02 1.800e+02 1.180e+03 2.900e+02 4.880e+03
 9.710e+03 2.700e+02 1.060e+03 1.801e+04 6.260e+03 1.057e+04 4.500e+02
 3.036e+04 7.170e+03 7.200e+02 6.620e+03 4.200e+02 7.340e+03 2.840e+03
 5.540e+03 3.500e+02 2.050e+03 3.700e+03 2.256e+04 4.100e+02 2.500e+02
 1.130e+03 4.840e+03 1.750e+04 2.200e+03 1.650e+03 3.300e+02 2.244e+04
 1.996e+04 3.510e+03 3.320e+03 7.910e+03 2.370e+03 2.239e+04 2.710e+03
 1.181e+04 1.870e+03 4.800e+02 5.600e+02 1.069e+04 2.380e+03 2.410e+03
 2.400e+02 1.669e+04 1.462e+04 1.890e+03 8.780e+03 8.980e+03 1.514e+04
 1.793e+04 2.440e+03 1.500e+02 5.210e+03 3.900e+02 6.190e+03 1.390e+03
 1.930e+03 2.190e+03 3.300e+03 4.659e+04 7.890e+03 1.630e+03 2.093e+04
 4.510e+03 5.740e+03 6.800e+02 3.450e+03 3.580e+03 2.100e+03 2.290e+03
 3.570e+03 5.826e+04 1.676e+04 1.410e+03 7.600e+02 3.370e+03 1.350e+03
 2.000e+03 2.460e+03 9.000e+02 9.200e+02 5.190e+03 1.730e+03 2.536e+04
 1.700e+03 1.540e+03 2.930e+03 1.657e+04 2.800e+02 8.050e+03 8.540e+03
 2.090e+03 2.610e+03 3.183e+04 4.360e+03 1.780e+03 1.624e+04 1.642e+04
 3.050e+03 2.020e+03 2.950e+03 1.184e+04 8.530e+03 1.711e+04 2.970e+03
 5.340e+03 1.480e+03 1.160e+03 3.720e+03 1.000e+02 1.400e+02 1.254e+04
 9.800e+02 2.640e+03 1.100e+02 1.309e+04 4.130e+03 3.770e+03 1.250e+03
 1.710e+03 5.800e+03 1.261e+04 9.670e+03 3.560e+03 1.860e+03 1.936e+04
 8.500e+02 5.760e+03 1.470e+03 1.100e+03 2.770e+03 5.200e+02 1.697e+04
 2.200e+02 3.850e+03 4.210e+03 6.360e+03 2.026e+04 5.140e+03 4.900e+02
 5.630e+03 3.800e+02 6.870e+03 3.000e+02 1.168e+04 9.700e+02 1.505e+04
 4.030e+03 8.650e+03 1.900e+02 3.150e+03 6.400e+02 1.640e+03 1.000e+03
 1.353e+04 2.920e+03 7.930e+03 1.018e+04 1.080e+04 1.741e+04 6.680e+03
 3.840e+03 1.357e+04 4.370e+03 5.710e+03 1.420e+03 3.200e+02 6.100e+02
 1.110e+03 7.800e+02 6.880e+03 7.100e+02 1.310e+03 4.660e+03 7.000e+01
 3.400e+02 3.520e+03 2.233e+04 4.630e+03 8.000e+01 2.719e+04 2.100e+02
 1.534e+04 1.140e+03 4.580e+03 3.600e+02 4.520e+03 1.450e+03 1.618e+04
 8.480e+03 3.640e+03 2.960e+03 7.840e+03 9.260e+03 2.320e+03 1.864e+04
 6.970e+03 1.220e+03 2.260e+03 1.290e+03 1.460e+03 2.740e+03 8.000e+02
 6.540e+03 4.150e+03       nan 9.580e+03 1.984e+04 3.863e+04 1.200e+02
 1.543e+04 1.950e+03 2.470e+03 5.100e+03 1.866e+04 8.740e+03 1.130e+04
 1.416e+04 3.871e+04 9.000e+03 3.140e+03 3.233e+04 8.140e+03 8.400e+03
 1.314e+04 1.007e+04 3.130e+03 3.700e+02 6.700e+02 1.840e+03 4.040e+03
 9.000e+01 1.060e+04 1.590e+03 2.280e+03 8.080e+03 1.577e+04 1.865e+04
 8.090e+03 9.360e+03 1.649e+04 1.490e+03 8.880e+03 5.290e+03 1.500e+03
 9.720e+03 8.970e+03 2.060e+03 2.890e+03 2.040e+03 4.490e+03 1.362e+04
 6.470e+03 5.870e+03 8.250e+03 1.970e+03 1.112e+04 1.150e+03 1.571e+04
 1.600e+02 2.140e+03 6.630e+03 1.800e+03 2.613e+04 1.300e+02 6.690e+03
 1.600e+03 4.600e+02 2.120e+03 4.820e+03 1.085e+04 3.620e+03 2.313e+04
 5.360e+03 9.200e+03 5.830e+03 4.970e+03 1.080e+03 8.240e+03 5.890e+03
 1.560e+03 8.400e+02 8.460e+03 4.460e+03 6.210e+03 6.910e+03 4.650e+03
 1.620e+03 3.530e+03 2.880e+03 1.635e+04 1.287e+04 8.100e+02 3.003e+04
 1.302e+04 9.100e+02 3.900e+03 2.530e+03 5.000e+02 1.140e+04 1.510e+03
 3.970e+03 5.780e+03 1.850e+03 7.586e+04 2.645e+04 3.390e+03 3.405e+04
 1.790e+03 4.432e+04 4.160e+03 1.089e+04 3.110e+03 2.039e+04 5.260e+03
 5.300e+03 5.030e+03 1.481e+04 8.300e+03 7.700e+02 1.940e+03 7.470e+03
 2.550e+03 2.310e+03 1.430e+04 2.180e+03 1.496e+04 6.600e+02 4.680e+03
 1.740e+03 1.260e+03 5.470e+03 2.780e+03 1.610e+03 9.900e+02 1.308e+04
 8.200e+02 9.070e+03 1.280e+03 4.740e+03 8.260e+03 5.900e+02 4.000e+02
 1.126e+04 2.000e+01 2.249e+04 3.330e+03 2.510e+03 6.900e+03 1.861e+04
 7.160e+03 4.086e+04 2.062e+04 1.292e+04 1.816e+04 5.950e+03 4.700e+03
 6.000e+02 6.500e+02 7.280e+03 5.020e+03 5.800e+02 8.990e+03 3.760e+03
 2.330e+03 4.260e+03 3.040e+03 3.000e+03 3.910e+03 1.910e+03 1.210e+03
 7.000e+02 1.010e+03 4.270e+03 1.340e+03 2.110e+03 9.230e+03 1.190e+03
 4.400e+03 2.270e+03 1.270e+04 2.097e+04 1.700e+02 7.250e+03 1.360e+03
 4.400e+02 1.572e+04 3.340e+03 2.540e+03 3.306e+04 1.734e+04 8.220e+03
 1.095e+04 1.031e+04 1.837e+04 2.070e+03 2.490e+03 7.300e+02 8.940e+03
 9.910e+03 5.440e+03 3.000e+01 4.080e+03 6.920e+03 1.170e+03 1.074e+04
 5.100e+02 1.690e+03 2.870e+03 3.350e+03 1.164e+04 2.753e+04 9.790e+03
 1.017e+04 7.780e+03 8.040e+03 5.300e+02 2.300e+02 7.420e+03 2.130e+03
 1.457e+04 2.000e+02 6.930e+03 7.860e+03 1.680e+03 2.700e+03 1.708e+04
 1.517e+04 3.250e+03 4.140e+03 2.850e+03 2.005e+04 1.876e+04 1.504e+04
 3.030e+03 3.780e+03 8.300e+02 8.550e+03 7.830e+03 2.900e+03 1.147e+04
 4.870e+03 1.207e+04 3.200e+03 8.190e+03 1.532e+04 3.590e+03 5.650e+03
 5.900e+03 1.754e+04 4.054e+04 1.399e+04 1.527e+04 3.528e+04 8.600e+02
 1.920e+03 5.980e+03 6.400e+03 1.190e+04 4.380e+03 6.710e+03 1.370e+03
 1.765e+04 4.330e+03 4.574e+04 3.410e+03 8.670e+03 1.313e+04 1.978e+04
 2.390e+03 3.224e+04 2.649e+04 2.543e+04 9.820e+03 2.630e+03 2.064e+04
 1.699e+04 6.300e+02 5.390e+03 1.549e+04 3.210e+03 1.530e+03 9.770e+03
 1.728e+04 5.090e+03 7.180e+03 9.560e+03 4.833e+04 1.760e+03 2.477e+04
 3.870e+03 1.862e+04 1.277e+04 9.640e+03 2.590e+03 2.453e+04 1.621e+04
 1.757e+04 7.980e+03 3.290e+03 6.320e+03 5.070e+03 3.470e+03 2.720e+03
 1.460e+04 6.890e+03 2.765e+04 8.860e+03 5.000e+03 1.120e+03 9.400e+02
 1.404e+04 4.770e+03 3.440e+03 3.020e+03 6.270e+03 2.177e+04 7.400e+02
 2.137e+04 1.020e+03 9.680e+03 2.181e+04 1.062e+04 3.860e+03 2.179e+04
 2.919e+04 4.570e+03 7.550e+03 1.243e+04 1.970e+04 4.450e+03 1.867e+04
 1.937e+04 1.854e+04 3.920e+03 3.170e+03 7.290e+03 1.980e+03 1.248e+04
 3.100e+03 7.240e+03 1.871e+04 2.620e+03 6.420e+03 4.700e+02 5.150e+03
 1.570e+04 5.460e+03 2.235e+04 2.810e+03 2.820e+03 6.860e+03 1.802e+04
 1.670e+03 2.220e+03 1.430e+03 8.700e+02 6.300e+03 1.983e+04 9.430e+03
 2.362e+04 9.630e+03 4.180e+03 3.890e+03 4.420e+03 2.193e+04 2.480e+03
 3.460e+03 6.560e+03 5.840e+03 2.230e+03 1.964e+04 6.480e+03 4.610e+03
 6.330e+03 1.520e+03 3.740e+03 1.990e+03 3.641e+04 7.680e+03 1.375e+04
 2.715e+04 1.729e+04 2.699e+04 2.907e+04 3.750e+03 1.317e+04 5.080e+03
 1.319e+04 5.350e+03 3.230e+03 3.380e+03 3.430e+03 8.110e+03 6.250e+03
 1.202e+04 5.010e+03 1.805e+04 5.380e+03 1.668e+04 1.154e+04 2.210e+03
 4.300e+03 5.220e+03 9.990e+03 1.045e+04 6.900e+02 1.830e+03 5.330e+03
 1.400e+03 3.490e+03 1.900e+03 1.880e+03]
Unique values in Column 'CompetitionOpenSinceMonth': [ 9. 11. 12.  4. 10.  8. nan  3.  6.  5.  1.  2.  7.]
Unique values in Column 'CompetitionOpenSinceYear': [2008. 2007. 2006. 2009. 2015. 2013. 2014. 2000. 2011.   nan 2010. 2005.
 1999. 2003. 2012. 2004. 2002. 1961. 1995. 2001. 1990. 1994. 1900. 1998.]
Unique values in Column 'Promo2': [0 1]
Unique values in Column 'Promo2SinceWeek': [nan 13. 14.  1. 45. 40. 26. 22.  5.  6. 10. 31. 37.  9. 39. 27. 18. 35.
 23. 48. 36. 50. 44. 49. 28.]
Unique values in Column 'Promo2SinceYear': [  nan 2010. 2011. 2012. 2009. 2014. 2015. 2013.]
Unique values in Column 'PromoInterval': [nan 'Jan,Apr,Jul,Oct' 'Feb,May,Aug,Nov' 'Mar,Jun,Sept,Dec']

In [86]:
cleaned_store_data = store_data.copy()

# what will happen if dropna in store_data
if_dropna_store_data = cleaned_store_data.dropna()
exist_rows = if_dropna_store_data.shape[0]
exist_percentage = exist_rows / cleaned_store_data.shape[0] * 100
print(f"{exist_percentage:.2f}% rows remain after cleaned_store_data.dropna()")

32.74% rows remain after cleaned_store_data.dropna()

In [87]:

# set the end of 2015 as anchor date 
anchor_date = pd.Timestamp(date(2015, 12, 31))

# month mapping to number
MONTH_MAP = {
    "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6,
    "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
}

def iso_week_monday(year, week):
    """
    transfer (ISO year, ISO week) to the Monday date of that week; return NaT for missing or invalid values
    """
    try:
        if pd.isna(year) or pd.isna(week) or int(week) <= 0:
            return pd.NaT
        return pd.Timestamp.fromisocalendar(int(year), int(week), 1)
    except Exception:
        return pd.NaT

def parse_interval(interval):
    """
    transfer 'Feb,May,Aug,Nov' to {2,5,8,11} as example; return empty set for missing or empty string
    """
    if pd.isna(interval):
        return set()
    if not isinstance(interval, str):
        interval = str(interval)
    interval = interval.strip()
    if not interval:
        return set()
    return {MONTH_MAP.get(m.strip()[:3], None) for m in interval.split(",")} - {None}

def count_rounds_to_date(start_ts, months_set, anchor=anchor_date):
    """
    count the number of times from start_ts to anchor that the month is in months_set
    """
    if pd.isna(start_ts) or not months_set:
        return 0
    if anchor < start_ts:
        return 0

    start_ms = pd.Timestamp(start_ts.year, start_ts.month, 1)
    end_ms   = pd.Timestamp(anchor.year, anchor.month, 1)

    month_starts = pd.date_range(start=start_ms, end=end_ms, freq="MS")
    return sum((dt.month in months_set) and (dt >= start_ts) for dt in month_starts)


# transfer (Promo2SinceYear, Promo2SinceWeek) to Promo2StartDate as specific timestamp
cleaned_store_data["Promo2StartDate"] = [
    iso_week_monday(y, w) for y, w in zip(cleaned_store_data["Promo2SinceYear"], cleaned_store_data["Promo2SinceWeek"])
]

# extract the set of months each store starts promotion
months_sets = cleaned_store_data["PromoInterval"].apply(parse_interval)

# compute how many times each store has run Promo2 until anchor_date; set to 0 if none
cleaned_store_data["Promo2Rounds"] = 0  
mask_calc = (cleaned_store_data["Promo2"] == 1)

cleaned_store_data.loc[mask_calc, "Promo2Rounds"] = [
    count_rounds_to_date(start_ts, mset, anchor=anchor_date)
    for start_ts, mset in zip(cleaned_store_data.loc[mask_calc, "Promo2StartDate"], months_sets[mask_calc])
]

cleaned_store_data.drop(columns=["Promo2SinceYear", "Promo2SinceWeek", "Promo2StartDate", "PromoInterval"], inplace=True)

In [88]:
cleaned_store_data.info()
cleaned_store_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2Rounds               1115 non-null   int64
dtypes: float64(3), int64(3), object(2)
memory usage: 69.8+ KB

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2Rounds
0,1,c,a,1270.0,9.0,2008.0,0,0
1,2,a,a,570.0,11.0,2007.0,1,23
2,3,a,a,14130.0,12.0,2006.0,1,18
3,4,c,c,620.0,9.0,2009.0,0,0
4,5,a,a,29910.0,4.0,2015.0,0,0